.container3{
    max-width:100%;
height: 700px;
background-image: url(../images/image5.png) ;


}
.cont_3{
    margin-left: 150px;
    padding-top: 150px;
}
.cont3{
    width: 543px;
    height: 374px;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;

}
.item4{
    width: 80px;
    height: 26px;
    left: 360px;
    top: 276px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */
    
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    
    color: #E8E8E8;
    
}
.item5{
    width: 241px;
    height: 26px;
    left: 360px;
    top: 325px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */
    
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
}
.item6{
    width: 508px;
    height: 78px;
    left: 360px;
    top: 364px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    display: flex;
    align-items: center;
    
    color: #E8E8E8;
}

.container3__button{
width: 228px;
height: 63px;
left: 0px;
top: 0px;
border: none;
background: #5474FD;
font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
display: flex;
align-items: center;
letter-spacing: 1.2px;
text-transform: uppercase;
justify-content: center;

color: #FFFFFF;
}