@import'fonts';
body{
max-width: 100%;
   min-height: 100%; 

}
.container1{

background-image: url(../images/image1.png);
background-size: cover;
background-position:center;
padding-top:22px;
padding-bottom: 35px;

}
.header{
    &__title{
        font-family: $logo-font;
        font-size: 48px;
        font-weight: 700;
        line-height: 26px;
        margin-bottom: 18px;
        display: flex;
        justify-content: space-around;
        color: white;
    }
    &__subtitle{
        display: flex;
        justify-content: space-around;
        font-family: $logo-font;
        font-size: 22px;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 7px;
        margin-bottom: 41px;
        color: white;
    }

}

form{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    }
    input{
        width: 503px;
        height: 63px;
        left: 0px;
        top: 0px;

    }
    .input__text{
        font-family:$logo-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
    }
    .form__button{     
    box-sizing: border-box;
   
    width: 153px;
    background: #5474FD;
    border: 2px solid #FFFFFF;
    }
    .scroll-down{
    display: flex;
    justify-content: center;
    height: 26px;
    font-family:$main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    color:white;
    }
  .wrapper{
    display: flex;
    background: #5474FD;
    justify-content: space-between;
    padding: 10px;
  }

  .nav__title{
    font-size: 24px;
    line-height: 26px;
    color: white;
    font-family: $main-font;
   
  }


 .navigation {
    max-width: 100%;
    height: 83px;
    background: #5474FD;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
 
 }
 .list-item-nav {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 10px;
    color: #FFFFFF;
    
     list-style: none;
 }
 
 .menu {
    
    display: flex;
    flex-direction: row;
    line-height: 28px;
    margin-top: 10px;
    font-family: $main-font;

 }